.actorBox{
	width:200px;
	height:300px;
	float:left;
	margin:29px;
	text-align:center;
}
.actorBox img{
	border:3px solid #CCCCCC;
}

.actorBox img:hover {
	border:3px solid red;
}

button {
    background-color: #555555; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius:3px;
}
body{
	background-color:#CCCCCC;
}
 a{
	text-decoration:none;
	color:black;
	font-family:tahoma;
}
