.actorBox{
	width:200px;
	height:300px;
	float:left;
	margin:29px;
	text-align:center;
}
.actorBox img{
	border:3px solid #CCCCCC;
}

.actorBox img:hover {
	border:3px solid red;
}
body{
	background-color:#CCCCCC;
}
 a{
	text-decoration:none;
	color:black;
	font-family:tahoma;
}
